[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.4.16"
chardet = "==3.0.4"
docker = "==3.4.1"
docker-pycreds = "==0.3.0"
"gitdb2" = "==2.0.4"
idna = "==2.7"
requests = ">=2.20.0"
six = "==1.11.0"
"smmap2" = "==2.0.4"
"urllib3" = "==1.24.2"
websocket-client = "==0.48.0"
GitPython = "==2.1.11"
"Jinja2" = "==2.11.3"
MarkupSafe = "==1.1.1"
pyyaml = "==5.1"
click = "==7.0"

[dev-packages]
autopep8 = "==1.4.4"
pylint = "==2.4.4"
"flake8" = "==3.7.9"
"pep8" = "==1.7.1"
rope = "==0.14.0"

[requires]
python_version = "3.7"
