[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.4.16"
chardet = "==3.0.4"
docker = "==3.4.1"
docker-pycreds = "==0.3.0"
"gitdb2" = "==2.0.4"
idna = "==2.7"
requests = ">=2.20.0"
six = "==1.11.0"
"smmap2" = "==2.0.4"
"urllib3" = "==1.24.2"
websocket-client = "==0.48.0"
GitPython = "==2.1.11"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
pyyaml = "*"
click = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
"flake8" = "*"
"pep8" = "*"
rope = "*"

[requires]
python_version = "3.7"
