# Template for node specific configuration.
# This file will be copied to `node-conf/xl-deploy.conf` for XL deploy and `node-conf/xl-release.conf` for XL Release
#
xl {
  cluster {
    node {
      id = "${IP_ADDRESS}"
      hostname = "${IP_ADDRESS}"
    }
  }
}
