<!--
    Note: If you modify this file, you must restart the XL Config server.
-->
<configuration scan="${LOGBACK_SCAN_ENABLED}" scanPeriod="${LOGBACK_SCAN_PERIOD}">

    <!-- removing this listener may cause performance issues-->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] {%mdc} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration for all application logs -->
    <root level="${LOGBACK_GLOBAL_LOGGING_LEVEL}">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="ai.digital" level="info" />
    <logger name="org.springframework" level="warn"/>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="error" />

    <!--  Audit logging -->
    <appender name="AUDIT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[AUDIT] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] {%mdc} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="audit" level="off" additivity="false">
        <appender-ref ref="AUDIT" />
    </logger>

</configuration>
