# Set up new installation
cd ${APP_HOME}/default-conf

if [ ! -f "${APP_HOME}/conf/{{ boot_conf }}" ]; then
  echo "No ${APP_HOME}/conf/{{ boot_conf }} file detected:"
  echo "... Generating {{ boot_conf }}"

  if [[ -z "$APP_PORT" ]]; then
    APP_PORT={{ port }}
  fi

  sed -e "s#\${CENTRAL_CONFIG_ENCRYPT_KEY}#${CENTRAL_CONFIG_ENCRYPT_KEY}#g" \
    -e "s#\${APP_PORT}#${APP_PORT}#g" \
    ${APP_HOME}/default-conf/{{ boot_conf }}.template > ${APP_HOME}/conf/{{ boot_conf }}
  echo "Done"
fi

# copy default configurations default-conf
echo "... Copying default configuration from ${APP_HOME}/default-conf"

for f in *; do
  if [[ $f == *.template ]]; then
    continue
  fi
  if [ -f ${APP_HOME}/conf/$f ]; then
    echo "... Not copying $f because it already exists in the conf directory"
  else
    echo "... Copying $f to the conf directory"
    cp -R $f ${APP_HOME}/conf/
  fi
done

# copy default configurations central-conf
echo "... Copying default configuration from ${APP_HOME}/central-conf"

cd ${APP_HOME}/central-conf

for f in *; do
  if [[ $f == *.template ]]; then
    continue
  fi
  if [ -f ${APP_HOME}/centralConfiguration/$f ]; then
    echo "... Not copying $f because it already exists in the centralConfiguration directory"
  else
    echo "... Copying $f to the centralConfiguration directory"
    cp -R $f ${APP_HOME}/centralConfiguration/
  fi
done

cd ${APP_HOME}
echo "Done copying default configurations"
