<!--
    Note: If you modify this file, you must restart the XL Deploy server.
-->
<configuration>
    <!-- See: http://logback.qos.ch/access.html -->
    <!-- Enable to debug configuration:
      <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/access.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <!--
              Combined Log Format
              See: http://logback.qos.ch/manual/layouts.html#AccessPatternLayout
            -->
            <pattern>%t{yyyy-MM-dd HH:mm:ss.SSS} %D ms %s %l %h %u "%r" %b "%i{Referer}" "%i{User-Agent}"</pattern>
            <!--
              <pattern>combined</pattern>
              <pattern>common</pattern>
            -->
        </encoder>
    </appender>
    <appender-ref ref="FILE" />
</configuration>