xl.reporting:
  database:
    db-driver-classname: "${XL_DB_DRIVER}"
    db-url: "${XL_REPORT_DB_URL}"
    db-password: |-
      ${XL_REPORT_DB_PASSWORD}
    db-username: "${XL_REPORT_DB_USERNAME}"
    max-pool-size: ${XL_REPORT_DB_MAX_POOL_SIZE}