deploy.caches:
  enabled: ${USE_CACHE}
  provider-configuration:
    provider: ${PROVIDER}
    provider-configuration-file: ${PROVIDER_CONFIGURATION_FILE}
  license-cache-configuration:
    enabled: true
    management-enabled: true
    statistics-enabled: true
    ttl-minutes: 1440
  ci-pk-cache-configuration:
    enabled: true
    management-enabled: true
    statistics-enabled: true
    ttl-minutes: 60
  ci-path-cache-configuration:
    enabled: true
    management-enabled: true
    statistics-enabled: true
    ttl-minutes: 60
  ci-pk-path-mapping-cache-configuration:
    enabled: true
    management-enabled: true
    statistics-enabled: true
    ttl-minutes: 60