deploy.cluster:
  mode: ${XL_CLUSTER_MODE}
  name: "xl-deploy_cluster"
  membership:
    heartbeat: "10 seconds"
    ttl: "60 seconds"
    jdbc:
      url: "${XL_DB_URL}"
      username: ${XL_DB_USERNAME}
      password: "${XL_DB_PASSWORD}"
