{%- set xl_version_split = xl_version.split(".") %}
{%- set xl_version_major_minor = xl_version_split[0] + "." + xl_version_split[1] %}
{%- set central_configuration_enabled = product == "xl-deploy" and xl_version_major_minor|float() >= 10.2 %}
