
LABEL name="xebialabs/{{ product }}" \
      vendor="Digital.ai" \
      maintainer="Digital.ai" \
      version="{{ image_version }}" \
      release="1" \
      summary="{{ product_name }}" \
      description="{{ product_description }}" \
      url="{{ product_info_url }}"
