
# Set ttl for DNS cache
RUN echo $'\n#\n# Set TTL for DNS cache.\nnetworkaddress.cache.ttl=30' >> $(readlink -f `which java` | sed -e 's:/jre/bin/java::' -e 's:/bin/java::')/conf/security/java.security

COPY resources/amd64/tini ${APP_ROOT}
RUN chmod ugo+x ${APP_ROOT}/tini

# Add xebialabs user but do not switch to it
RUN groupadd -r -g 10001 xebialabs && \
    useradd -r -u 10001 -g xebialabs xebialabs

WORKDIR ${APP_HOME}

{% for env in environment %}
    {{- 'ENV ' if loop.first else '    ' -}}{{ [env['key'], env['value']]|join('=') }}{{ ' \\' if not loop.last else '' }}
{% endfor %}

VOLUME ["{{ volumes|join('", "') }}"]

EXPOSE ${APP_PORT}

# Environment variables are not expanded when using the exec form of the ENTRYPOINT command. They are
# expanded when using the shell form, but that results in tini running with a PID higher than 1.

{% if 'deploy-task-engine' in product %}
ENTRYPOINT ["/opt/xebialabs/tini", "--", "/opt/xebialabs/{{ product }}/bin/run-in-container.sh"]
{% else %}
ENTRYPOINT ["/opt/xebialabs/tini", "--", "/opt/xebialabs/{{ product }}-server/bin/run-in-container.sh"]
{% endif %}
